/* Lab name: Experimental Biochemistry
Exp name: Protein purification by affinity chromatography
File name: main.css
Developer: Prakriti Dhang */


.card {
    margin-bottom: 5px;
}

.img-container {
    
    display: inline-block;
    position: relative;
}


#emptycolumn{
    position: relative;
    width: 20%;
    top: 1%;
    left: 15%;
}

#nibeads{
    position: absolute;
    width: 8%;
    top: -12%; /*-12- 60*/
    left: 21%;
}

#packedcolumn{
    position: absolute;
    width: 18%;
    top:1%;
    left: 15.5%;
    display: none;
 }

 #chemicalgrp{
    position: absolute;
    width: 40%;
    top: 5%;
    left: 60%;
 }


 #celllysate{
    position: relative;
    width: 20%;
    top: 5%;
    left: 5%;
 }

 #diffpro{
    position: absolute;
    width: 20%;
    top: 5%;
    left: 25%;
 }

 #proint{
    position: absolute;
    width: 40%;
    top: 5%;
    left: 50%;
 }

 #wpc{
    position: relative;
    width: 20%;
    top: 5%;
    left: 5%;
 }

 #buffer{
    position: absolute;
    width: 15%;
    top: 5%;
    left: 50%;
 }
 #unpro{
    position: absolute;
    width: 10%;
    top: 50%;
    left: 16%;
 }
 

#proni{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 50%; 
}

#protube1{
    position: relative;
    width: 30%;
    top: 1%;
    left: 5%;
    display:block;
}

#pro1{
    position: absolute;
    width: 33%;
    top: 62.9%;
    left: 2.5%;
    display:none;
}

#pro2{
    position: absolute;
    width: 35%;
    top: 61%;
    left: 2.5%;
    display:none;
}

#protube2{
    position: absolute;
    width: 31%;
    top: 4%;
    left: 5.1%;
    display:none;
}

#protube4{
    position: absolute;
    width: 30%;
    top: 5%;
    left: 5.4%;
    display:none;
}

#pro4{
    position: absolute;
    width: 32%;
    top: 62.7%;
    left: 2.8%;
    display:none;
}


#protube8{
    position: absolute;
    width: 30%;
    top: 3%;
    left: 5.4%;
    display:none;
}

#pro8{
    position: absolute;
    width: 32%;
    top: 61.5%;
    left: 2.3%;
    display:none;
}


#protube100{
    position: absolute;
    width: 30%;
    top: 6%;
    left: 5.4%;
    display:none;
}

#pro100{
    position: absolute;
    width: 36%;
    top: 64.5%;
    left: 1.8%;
    display:none;
}

#prointelu{
    position: absolute;
    width: 6%;
    top: 53%;  /*50- 80 */
    left: 20%;
    display:none;
}

#bufferb{
    position: absolute;
    width: 15%;
    top: 5%;
    left: 50%;
 }

#graph{
    position: relative;
    width: 50%;
    top: 5%;
    left: 5%;
   
}


#optgel{
    position: relative;
    width: 40%;
    top: 5%;
    left: 5%;
   
}

