/* Lab name: Experimental Biochemistry
Exp name: Protein purification by affinity chromatography
File name: main.css
Developer: Prakriti Dhang */


.card {
    margin-bottom: 5px;
}

.img-container {
    
    display: inline-block;
    position: relative;
}


#emptycolumn{
    position: relative;
    width: 20%;
    top: 1%;
    left: 15%;
  display: none;
}

#nibeads{
    position: absolute;
    width: 8%;
    top: 60%; /*-12- 60*/
    left: 22.2%;
    display: none;
}

#packedcolumn{
    position: absolute;
    width: 20%;
    top:1%;
    left: 15.8%;
    display: none;
 }

 #chemicalgrp{
    position: absolute;
    width: 45%;
    top: 1%;
    left: 58%;
    display: none;
 }


 #celllysate{
    position: relative;
    width: 20%;
    top: 5%;
    left: 5%;
 }

 #diffpro{
    position: absolute;
    width: 20%;
    top: 30%;
    left: 20%;
 }

 #proint{
    position: absolute;
    width: 30%;
    top: 5%;
    left: 37%;
 }
 #pbluecol{
    position: absolute;
    width: 25%;
    top: 15%;
    left: 65%;
 }

#unprostp2{
    position: absolute;
    width: 10%;
    top: -18%;
    left: 73%;
    display: none;  
}
#withpcol{
    position: absolute;
    width: 20%;
    top: 13%;
    left: 68.2%;
    display: none;
 }
 /* step3 */

 #wpc{
    position: relative;
    width: 27%;
    top: 5%;
    left: 5%;
 }

 #buffer{
    position: absolute;
    width: 13%;
    top: 5%;
    left: 35%;
 }
 #unpro{
    position: absolute;
    width: 9%;
    top: 51.2%;
    left: 15%;
 }
 
#tbunpro{
    position: absolute;
    width: 34%;
    top:65.2%;
    left: 1.8%;
}


#proni{
    position: absolute;
    width: 55%;
    top: 20%;
    left: 45%; 
}


/*Elution */
#protube1{
    position: relative;
    width: 25%;
    top: 1%;
    left: 5%;
    display:block;
}

#pro1{
    position: absolute;
    width: 28.2%;
    top: 62.9%;
    left: 2.7%;
    display:none;
}
#protube2{
    position: absolute;
    width: 26%;
    top: 4%;
    left: 5.1%;
    display:none;
}


#pro2{
    position: absolute;
    width: 30%;
    top: 61%;
    left: 2.5%;
    display:none;
}


#protube4{
    position: absolute;
    width: 25.2%;
    top: 5%;
    left: 5.4%;
    display:none;
}

#pro4{
    position: absolute;
    width: 28%;
    top: 62.7%;
    left: 2.8%;
    display:none;
}


#protube8{
    position: absolute;
    width: 25%;
    top: 3%;
    left: 5.2%;
    display:none;
}

#pro8{
    position: absolute;
    width: 28%;
    top: 61%;
    left: 2.3%;
    display:none;
}


#protube100{
    position: absolute;
    width: 25%;
    top: 6%;
    left: 5.4%;
    display:none;
}

#pro100{
    position: absolute;
    width: 32%;
    top: 63.9%;
    left: 1.6%;
    display:none;
}

#prointelu{
    position: absolute;
    width: 6%;
    top: 53%;  /*50- 80 */
    left: 20%;
    display:none;
}

#bufferb{
    position: absolute;
    width: 12%;
    top: 5%;
    left: 50%;
 }

#graph{
    position: relative;
    width: 50%;
    top: 5%;
    left: 5%;
    display: none;
   
}


#optgel{
    position: relative;
    width: 40%;
    top: 5%;
    left: 5%;
    display: none;
   
}

